<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Logo</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            <a mat-list-item href="#home">Home</a>
            <a mat-list-item href="#about">About</a>
            <a mat-list-item href="#work">Work</a>
            <a mat-list-item href="#contact">Contact</a>
            <a mat-list-item href="#more">More</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div id="home" class="section">
            <!-- <h1 class="section_header">Home</h1> -->
            <app-home></app-home>

        </div>

        <div id="about" class="section">
            <!-- <h1 class="section_header">About</h1> -->
            <app-about></app-about>
        </div>

        <div id="work" class="section">
            <h1 class="section_header">Work</h1>
            <app-work></app-work>
        </div>
        <div id="contact" class="section">
            <h1 class="section_header">Contact</h1>
            <app-contact></app-contact>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>