<div class="contact body">
    <div class="external-links">
        <ul>
            <li>
                <div>Email:</div>
                <div>
                    sivanitutika4&#64;gmail.com
                </div>
            </li>
            <li>
                <div>Github:</div>
                <div>github.com/sivani-tutika</div>
            </li>
            <li>
                <div>LinkedIn:</div>
                <div>linkedin.com/sivani-tutika</div>
            </li>
            <li>
                <div>Medium:</div>
                <div>https://medium.com/&#64;sivanitutika4
                </div>
            </li>
        </ul>
    </div>
    <div class="message-box">
        <div class="header">Message</div>
        <textarea></textarea>
        <button>Send</button>
    </div>
</div>