<!-- <div class="about-body mat-elevation-z4"> -->
<!-- Introduction Section -->
<div class="about-introduction">
    <mat-card>
        <mat-card-header>
            <mat-card-title>About Me</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Hello! I am Tutika Naga Sai Sivani, an Artificial Intelligence Engineer with a passion for building
                intelligent systems and solving complex problems. With a strong foundation in AI and machine
                learning, I thrive in creating innovative solutions to real-world challenges. I bring creativity,
                dedication, and a deep curiosity to every project I undertake. Let’s build the future together!
            </p>
        </mat-card-content>
    </mat-card>
</div>

<!-- Skills Section -->
<div class="about-body mat-elevation-z4">
    <!-- Details Section -->
    <div class="about-details">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Education</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li *ngFor="let edu of education">
                        <strong>{{ edu.Qualification }}</strong>
                        <span>- {{ edu.Institution }}, {{ edu.Place }}</span>
                        <br>
                        <span>Grade: <strong>{{ edu.Grade }}</strong></span>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="about-skills">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Skills</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li *ngFor="let skill of skills">{{ skill }}</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- </div> -->