<div class="home-body mat-elevation-z4">
    <!-- Left Section -->
    <div class="home-text">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <span class="hero mat-display-2">
                        <h1>Tutika Naga Sai Sivani</h1>
                    </span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h2 class="tagline mat-body-1">Artificial Intelligence Engineer</h2>
            </mat-card-content>
            <mat-card-actions>
                <a href="https://drive.google.com/uc?id=1op-bXsudw8ByG2wPhIcx9Ww2ww9uHAC9&export=download" download>
                    <button mat-raised-button color="primary" class="action-button">
                        <mat-icon>download</mat-icon>
                        Resume
                    </button>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>

    <!-- Right Section -->
    <div class="home-profile">
        <div class="profile-placeholder"></div>
    </div>
</div>