<div class='home body'>
    <div class="home text">
        <div class="hero">
            Tutika Naga Sai Sivani
        </div>
        <div>
            <div class="tagline">Artificial Intelligence Engineer</div>
            <div class="button action"> Contact Me!</div>
        </div>
    </div>
    <div class="home profile">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
        <div class="profile image"></div>
    </div>
</div>